@page "/"
@using System.Text.Json
@using Aspose.Cells
@rendermode InteractiveServer
@inherits OwningComponentBase
@inject ITranslatorService iTranslatorService
@inject IConverterService iConverterService

<PageTitle>Home</PageTitle>

<div Class="rz-p-0 rz-p-md-12">
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">

        <div class="rz-p-sm-12 rz-text-align-center">
            <InputFile OnChange="LoadFiles" multiple/>
            <p>@uploadedDocumentCount</p>
        </div>

        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenLabel Text="Select Value" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDropDown Change="@(args => OnChange())" @bind-Value=@value Data=@dropdownList Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
        </div>

        <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
            <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" hidden="@hideLoading" />
            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter" hidden="@hideSuccess">
                Translation Successful
            </RadzenAlert>
            <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter" hidden="@hideFail">
                Translation Unsuccessful
            </RadzenAlert>
        </RadzenStack>

        <div class="d-flex justify-content-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click=@(onClickTranslate) Text="Translate" ButtonStyle="ButtonStyle.Primary" />
            </RadzenStack>
        </div>

        <div class="d-flex justify-content-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click=@(onClickDownload) Text="Download" ButtonStyle="ButtonStyle.Primary" style="margin: 80px;" />
            </RadzenStack>
        </div>
    </RadzenCard>
</div>


@code {
    string value;
    Dictionary<String, Language> languages;
    private int uploadedDocumentCount = 0;
    bool hideLoading = true;
    bool hideSuccess = true;
    bool hideFail = true;
    string fileType;
    string uploadedDocumentGuid="";
    string operationGuid;
    bool isFolderForJsonConversionCreated=false;

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        Guid guid = Guid.NewGuid();
        operationGuid = $"{guid}";
        foreach (var file in e.GetMultipleFiles())
        {
            string blobName="";
            MemoryStream memoryStreamOfFile;
            bool uploadedOrNot;
            string contentType = file.ContentType;
            fileType = contentType.Split('/')[1];

            if (fileType == "json")
            {
                if (isFolderForJsonConversionCreated!=true)
                {
                    iConverterService.CreateFolderForOperation(operationGuid);
                    isFolderForJsonConversionCreated = true;
                }
                uploadedDocumentGuid = await iConverterService.ConvertToExcelAsync(file, operationGuid);
                memoryStreamOfFile = await iConverterService.GetTheMemoryStreamFromValueExcel(operationGuid, uploadedDocumentGuid);
                blobName = $"{operationGuid}/json/{uploadedDocumentGuid}.xlsx";
            }
            else
            {
                var stream = file.OpenReadStream();
                memoryStreamOfFile = new MemoryStream();
                await stream.CopyToAsync(memoryStreamOfFile);
                memoryStreamOfFile.Position = 0;
                string fileName = file.Name;
                blobName = $"{operationGuid}/{fileName}";
            }
            uploadedOrNot = await iTranslatorService.UploadDocuments(memoryStreamOfFile, blobName);
            if (uploadedOrNot)
            {
                uploadedDocumentCount++;
                StateHasChanged();
            }
        }
    }
    void OnChange()
    {
    }

    List<string> dropdownList = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Call the API to get languages
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync("https://api.cognitive.microsofttranslator.com/languages?api-version=3.0");

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            // Deserialize JSON and extract languages
            LanguageResponse? languageResponse = JsonSerializer.Deserialize<LanguageResponse>(json);
            languages = languageResponse.translation;
            foreach (var entry in languageResponse.translation)
            {
                dropdownList.Add(entry.Value.name);
            }
            value = dropdownList.FirstOrDefault();
        }
    }

    class LanguageResponse
    {
        public Dictionary<String, Language> translation { get; set; }
    }

    class Language
    {
        public string name { get; set; }
        public string nativeName { get; set; }
        public string dir { get; set; }
    }

    private async void onClickTranslate()
    {
        if (value == "")
        {

        }
        hideLoading = false;
        String langCode = languages.Where(language => language.Value.name == value).FirstOrDefault().Key;
        bool translatedOrNot = await iTranslatorService.Translate(langCode, operationGuid);
        hideLoading = true;


        if (translatedOrNot)
        {
            hideSuccess = false;
            StateHasChanged();
        }
        else
        {
            hideFail = false;
            StateHasChanged();
        }
    }

    private async void onClickDownload()
    {
        await iTranslatorService.DownloadConvertedFiles(operationGuid,iConverterService);
        iConverterService.DeleteFolderForOperation(operationGuid);
        // iTranslatorService.CleanInputContainer();
        // iTranslatorService.CleanOutputContainer();
    }
}