@page "/"
@using System.Text.Json
@using Aspose.Cells
@rendermode InteractiveServer
@inherits OwningComponentBase
@inject ITranslatorService iTranslatorService
@inject IConverterService iConverterService

<PageTitle>Home</PageTitle>

<div Class="rz-p-0 rz-p-md-12">
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">

        @* <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-md-4 p-3">
        <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Multiple file upload</RadzenText>
        <RadzenUpload Multiple="true" Url="upload/multiple" Progress=@(args => OnProgress(args, "Multiple file upload")) class="w-100" InputAttributes="@(new Dictionary<string,object>(){{ "aria-label", "select file" }})">
        </RadzenUpload>
        </RadzenCard>

        </div>
        </div>
        </div> *@

        <div class="rz-p-sm-12 rz-text-align-center">
            <InputFile OnChange="LoadFiles" />
            <p>@uploadedDocumentCount</p>
        </div>
        @*
             <div class="rz-p-sm-12 rz-text-align-center">
                 <InputFile OnChange="LoadJson" multiple />
                 <p>@uploadedDocumentCount</p>
             </div>
          *@
        <div class="rz-p-sm-1 rz-text-align-center">
            <h4>@translationStatus</h4>
        </div>
        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenLabel Text="Select Value" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDropDown Change="@(args => OnChange())" @bind-Value=@value Data=@dropdownList Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
        </div>

        <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
            <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" hidden="@hideLoading" />
            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter" hidden="@hideSuccess">
                Translation Successful
            </RadzenAlert>
            <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter" hidden="@hideFail">
                Translation Unsuccessful
            </RadzenAlert>

        </RadzenStack>


        <div class="d-flex justify-content-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click=@(onClickTranslate) Text="Translate" ButtonStyle="ButtonStyle.Primary" />
            </RadzenStack>
        </div>


        <div class="d-flex justify-content-center">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click=@(onClickDownload) Text="Download" ButtonStyle="ButtonStyle.Primary" style="margin: 80px;" />
            </RadzenStack>
        </div>


    </RadzenCard>
</div>


@code {
    RadzenUpload upload;
    private const bool V = true;
    string value;
    Dictionary<String, Language> languages;
    private int uploadedDocumentCount = 0;
    string completionMessage;
    private string translationStatus = "";
    private Workbook[] books;
    bool hideLoading = true;
    bool hideSuccess = true;
    bool hideFail = true;
    string fileType;
    string uploadedDocumentGuid="";
    /*
    private ITranslator translator { get; set; } = default!;

    protected override void OnInitialized()
    {
    translator = ScopedServices.GetRequiredService<ITranslator>();
    }*/

    //  int customParameter = 1;

    private async void LoadFiles(InputFileChangeEventArgs e)
    {


        var file = e.GetMultipleFiles().FirstOrDefault();
        string contentType = file.ContentType;
        fileType = contentType.Split('/')[1];
            if (fileType=="json")
            {
                books = await iConverterService.ConvertToExcelAsync(file);
                uploadedDocumentGuid = await iTranslatorService.Upload(books[1]);
                // books[0].Save(books[0].FileName);
            }
            else
            {
                string fileName = file.Name;
                bool uploadedOrNot = await iTranslatorService.Upload(file, fileName);
                if (uploadedOrNot)
                {
                    uploadedDocumentCount++;
                    StateHasChanged();
                }
            }

            if (uploadedDocumentGuid != "")
            {
                uploadedDocumentCount++;
                StateHasChanged();
            }
        /*
        private async void LoadJson(InputFileChangeEventArgs e)
            {

            foreach (var file in e.GetMultipleFiles())
                {
                Console.WriteLine(file.Name);
                Workbook[] books = await iConverterService.ConvertToExcelAsync(file);
                // books[0].Save(books[0].FileName);
                bool abc = await iTranslatorService.Upload(books[1]);
                bool a= await iTranslatorService.Translate("de");
    }

    }
    */
    }
    void OnChange()
    {

    }


    List<string> dropdownList = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Call the API to get languages
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync("https://api.cognitive.microsofttranslator.com/languages?api-version=3.0");

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            // Deserialize JSON and extract languages
            LanguageResponse? languageResponse = JsonSerializer.Deserialize<LanguageResponse>(json);
            languages = languageResponse.translation;
            foreach (var entry in languageResponse.translation)
            {
                dropdownList.Add(entry.Value.name);
            }
            value = dropdownList.FirstOrDefault();



        }
    }

    class LanguageResponse
    {
        public Dictionary<String, Language> translation { get; set; }
    }

    class Language
    {
        public string name { get; set; }
        public string nativeName { get; set; }
        public string dir { get; set; }
    }

    private async void onClickTranslate()
    {
        if (value == "")
        {

        }
        hideLoading = false;
        String langCode = languages.Where(language => language.Value.name == value).FirstOrDefault().Key;
        bool translatedOrNot = await iTranslatorService.Translate(langCode, uploadedDocumentGuid);
        hideLoading = true;


        if (translatedOrNot)
        {
            hideSuccess = false;
            StateHasChanged();
        }
        else
        {
            hideFail = false;
            StateHasChanged();

        }


    }


    private void onClickDownload()
    {
        if (fileType=="json")
        {
            iConverterService.CombineExcelToJson(books, uploadedDocumentGuid);
            //iTranslatorService.CleanInputContainer();
            //iTranslatorService.CleanOutputContainer();
            
        }
        else
        {
            iTranslatorService.DownloadeConvertedFiles();
            iTranslatorService.CleanInputContainer();
            iTranslatorService.CleanOutputContainer();
        }


    }
}